@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;

}
body{
    background-color: rgb(233, 95, 95);}
}
a,li{
    font-family: 
    Roboto, 
    sans-serif;
    color: blanchedalmond;

}
.logo-header img{
    width: 50px;
}  
header{
   background-color: rgb(255, 255, 255); 
   display: flex;
   justify-content:
   space-between;