h1{
    color: black;
    font-size: x-large;
    font-family: "Copperplate";
    position: absolute;
    left: 930px;
    top: 20%;
   }
p1{
       position: absolute;
       left: 46%;
       top: 0%;
       
       border-radius: 50%;
   }